.App {
  text-align: center;
}

.appContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.container {
  border-right: 1px solid black;
  padding: 1rem;
}

.tableWraper {
  border-radius: 10px;
}

#table {
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
  cursor: pointer;
}
#table th {
  background-color: #5e72e4;
}

#table th,
td {
  padding: 0.5rem;
}
#table tr {
  border: 1px solid rgb(199, 194, 194);
}

#table tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}
#table tr:hover {
  background-color: rgb(220, 226, 226);
  font-weight: 500;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}

.paginationSpan {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0.4rem;
  min-width: 0.8rem;
  background-color: rgb(48 102 125);
  color: #fff;
  cursor: pointer;
}
.paginationSpan:nth-child(1) {
  border-radius: 3px 0 0 3px;
}
.paginationSpan:nth-last-of-type(1) {
  border-radius: 0 3px 3px 0;
}
.paginationPrev {
  margin-right: 5px;
  cursor: pointer;
}
.paginationNext {
  margin-left: 2px;
  cursor: pointer;
}
